.title {
    position: relative;
}

.title h1 {
    font: 2rem "Cinzel", serif;
}

.title div {
    width: 147px;
    height: 20px;
    background-color: var(--highlight-font);
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: multiply;
}