.btn {
    background-color: var(--highlight-font);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    font: inherit;
    font-weight: bold;
    color: inherit;
}

.btn-sm {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
}