#main-article {
    width: 917px;
    height: 688px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}

#main-article .cover img {
    border-radius: 20px;
}

#main-article .content .info,
#main-article .content .info div, 
#main-article .content .info div div, 
#main-article .content div:last-of-type {
    display: flex;
    flex-direction: row;
}
