.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 3rem;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 14px;
}

.nav ul .menu-item {
    font-weight: bold;
}

.nav ul .menu-item:hover {
    cursor: pointer;
}

.nav ul li:last-of-type button {
    width: 46px;
    height: 46px;
}